.listCard{
    background-color: var(--cardbg);
    max-width: calc(var(--index) * 27);
    word-wrap: break-word;
    height: 200px;
    border-radius:calc(var(--index) * 3);
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    overflow-y: hidden;

}
.awarded{
    border:1px solid yellow;
}

.listCard img{
    margin-right: 16px;
    width: calc(var(--index) * 13);
    height: calc(var(--index) * 13);
    border-radius: calc(var(--index) * 3);
    transition: .3s;
}
.listCard .text{
    margin-left: 16px;
    padding-top: calc(var(--index) * 1);
    margin-right:calc(var(--index) * 2);
    transition: .3s;
    max-width:35%;
    height: 100%;
    word-wrap: break-word;
    text-align: center;
}
.listCard h2{
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    margin-left: 16px;
    transition: .3s;
}
.listCard p{
    font-size: calc(var(--index) * 1);
    margin-left: 16px;
    transition: .3s;
}

.block{
    max-width: 40%;
    width: calc(var(--index) * 28);
    height: calc(var(--index) * 20);
    margin: 32px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column-reverse nowrap;
    position: relative;
    z-index: 1;
}
.block img{
    width: 90%;
    height: calc(var(--index) * 15);
    border-radius: calc(var(--index) * 3);
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    z-index: -1;
    transition: .3s ease;
}
.block .text{
    background-color: var(--cardbg);
    position: relative;
    margin: 0 auto;
    padding-top: 16px;
    width: 100%;
    height: auto;
    border-radius: calc(var(--index) * 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    z-index: 2;
    transition: .3s ease;
    max-width: 100%;
    word-wrap: break-word;
}

.block .text h2{
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    margin: 0;
    transition: .3s ease;
}
.block p{
    display: none;
    font-size: calc(var(--index) * 1);
    margin: 0;
    transition: .3s ease;
    max-width: 80%;
    text-align: center;
    word-wrap: break-word;
}
.Control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray2);
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 5);
    border-radius: 32px;
    margin: 0 var(--index);
    cursor: pointer;
    transition: .3s ease;
    font-size: calc(var(--index) * 1.25);
}
.Button:hover{
    background-color: var(--gray);
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 32px;
    left: 0;
    width: 100%;
    padding-bottom: calc(var(--index) * 20);
}

.open {
    width: 90%;
    max-width: 90%;
    height: calc(var(--index) * 55);
    max-height: calc(var(--index) * 55);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column-reverse;
    position: fixed;

    top: calc(var(--index) * 4);
    left: 50%;
    z-index: 5;
    margin: 0 auto;
    transform: translateX(-50%);
}


.open img{
    position: relative;
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 25);
    border-radius: calc(var(--index) * 3);
    transition: .3s ease;

}

.open .text{

    background-color: transparent;
    min-width: calc(var(--index) * 25);
    min-height: calc(var(--index) * 20);
    padding-top: 16px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    transition: .3s ease;
    overflow-y:auto;
}
.open .text p{
    display: block;
}



h4{
    text-align: justify;
    font-family: roboto;
    font-weight: 400;
    font-size: calc(var(--index) * .8);
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    margin: 16px auto;
}

h3{
    text-align: justify;
    font-weight: 100;
    margin-top: 16px;
    padding: 0 8px;
}

@media (min-width: 1000px){

    .Button{
        width: calc(var(--index) * 7);
        height: calc(var(--index) * 3);
    }
}

.towrite {
    margin: 16px auto;
    padding: 8px 16px;
    background-color:transparent;
    border:2px solid var(--blue);
    border-radius: calc(var(--index) * 3);
    text-align: center;
    color:white;
    cursor: pointer;
    transition: .3s ease;
    position: relative;
    z-index: 9;
}

.towrite:hover{
    background-color: var(--gray);
}
.towrite:active{
    background-color: var(--blue);
}

