header {
    width: 100%;

    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;

}



.BurgerMenu{
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding: 16px;

}
.BurgerMenu span::before {
    position: absolute;
    content: '';
    display: block;
    width: 48px;
    height: 10px;
    background-color: var(--gray);
    border-radius: 8px;
    top: -15px;
    left: 0;
    transition: .3s ease;
}
.BurgerMenu span::after {
    position: absolute;
    content: '';
    display: block;
    width: 48px;
    height: 10px;
    background-color: var(--gray);
    border-radius: 8px;
    bottom: -15px;
    left: 0;
    transition: .3s ease;

}
.burgerWp{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.BurgerMenu span{
    position: relative;
    width: 48px;
    display: block;
    height: 10px;
    background-color: var(--gray);
    border-radius: 8px;
}
.burgerWp span.active::before{
    top: 0;
    transform: rotate(45deg);
    background-color: var(--black);
}
.burgerWp span.active::after{
    bottom: 0;
    transform: rotate(-45deg);
    background-color: var(--black);
}
.burgerWp span.active{
    background-color: transparent;
}




.window{
    width: 100vw;
    height: 100vh;
    background-color: var(--gray2);
    position:absolute;
    z-index: 1;
    top: 0;
    left: -100vw;
    opacity: 0;
    transition: .3s ease;
}

.window.active{
    left: 0;
    opacity: 1;
}

.Profile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    cursor: pointer;
    z-index: 4;

}