footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: calc(var(--index) * 2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div{
    margin: 32px calc(var(--index) * .01);
}

.smallBut a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    width: calc(var(--index) * 9);
    height: calc(var(--index) * 5);
    border-radius: calc(var(--index) * 5);
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: 32px;
}
footer a{
    text-decoration: none;
    color: white;
}

.smallBut:hover a{
    background-color: var(--gray);
}
.bigButton a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    width: calc(var(--index) * 12);
    height: calc(var(--index) * 12);
    border-radius: 50%;
    cursor: pointer;
    /* bg button */
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(0, 0, 0) 69.5%,rgb(168, 24, 204) 100%);
    transform: translateY(-40%);
    transition: .3s ease;

}

.bigButton:hover a{
    background : radial-gradient(50.00% 50.00% at 50% 50%,rgb(0, 0, 0) 30%,rgb(168, 24, 204) 100%);
}


@media (min-width: 1080px){
    footer{
        height: calc(var(--index) * 2);
        padding-bottom: calc(var(--index) *0);
    }
    footer div{
        margin: 32px calc(var(--index) * .1);
    }
    .smallBut a{
        width: calc(var(--index) * 5);
        height: calc(var(--index) * 2);
        border-radius: calc(var(--index) * 7);
    }
    .bigButton a{
        width: calc(var(--index) * 5);
        height: calc(var(--index) * 5);
    }
}