.App {
  background-color: #181818;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y:auto;
  overflow-x:hidden;
  margin-top: calc(var(--index) * 5 + 8px);
}