*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
    color: white;
    --index:calc(1vh + 1vw);
    --cardbg:#191919;
    --black: #222222;
    --gray: #414141;
    --gray2: #333333;
    --blue:#0C77FF;
}
