.swipe{
    width: 90%;
    height: 85%;
    position: absolute;
    background-color: var(--black);
    border-radius: calc(var(--index) * 1);

    overflow: hidden;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    box-shadow: 4px 4px 5px 0px rgba(255, 255, 255, 0.1),
        -4px -4px 5px 0px rgba(255, 255, 255, 0.1);

}

.cardContainer{
    width: 100vw;
    height: 100dvh;
    transition: transform 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-57%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

.swipe .image{
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 25);
    border-radius: calc(var(--index) * 1);
    margin: calc(var(--index) * 1.5);
    margin-bottom: calc(var(--index) * .5);
}
.swipe .image:hover{
    cursor: pointer;
}
.swipe .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(var(--index) * 1);
}



.swipe .text{
    width: 100%;
    height: calc(var(--index) * 17);
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    border-radius: 0 0 calc(var(--index) * 1) calc(var(--index) * 1);
    padding: calc(var(--index) * 1);
    padding-top: 0;
    overflow-y: auto;
}
.swipe h1{
    font-weight: 500;
    font-size: calc(var(--index) * 2);
}
.swipe h5{
    font-weight: 400;
    font-size: calc(var(--index) * 1.15);
    color: white;
    margin: calc(var(--index) * .5) 0;
}
.swipe p {
    color : var(--gray_light);
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    width: 90%;
    height: 85%;
}
.last h2{
    font-size: calc(var(--index) * 1.25);
    margin: calc(var(--index) *1) 0;
    padding: 16px;
    background-color: var(--gray2);
    border-radius: calc(var(--index) * 2);
}

@media(min-width: 800px){
    .cardContainer{
        width: calc(var(--index) * 18.6);
        height: calc(var(--index) * 30);
        transition: transform 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swipe .image{
        width: calc(var(--index) * 16.6);
        height: calc(var(--index) * 16.6);
        border-radius: calc(var(--index) * 1);
        margin: calc(var(--index) * 1.5);
        margin-bottom: calc(var(--index) * .5);
    }
    .swipe h5{
        font-size: calc(var(--index) * 1);
    }
    .swipe h1{
        font-size: calc(var(--index) * 1.25);
    }

}