
.login, .register {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position:fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: var(--black);
    overflow: scroll;
}
.Form {
    width: calc(var(--index) * 20);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    top: 0;
    left: 0;

}

.Form input {
    width: calc(var(--index) * 20);
    padding: 10px;
    margin: 16px 0;
    color:white;
    border-radius: calc(var(--index) * 1);
    border: none;
    background-color: var(--gray2);
}

.Form button {
    width: calc(var(--index) * 20);
    padding: 10px;
    margin: 10px;
    border-radius: calc(var(--index) * 1);
    border: none;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
}

.Form button:hover {
    background-color: var(--black);
}
.registerBut{
    width: calc(var(--index) * 20);
    text-align: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.registerBut:hover{
    color: var(--blue);
}
.form label{
    color: white;
    text-align: left;
}